{% extends 'base.html.twig' %}

{% block body %}

	<div class="title"></div>
	


	<table align="center" cellpadding="10" style="font:16px Arial;">
		<tr>
			<td>
				<div class="card">
				
								<img src="{{ asset('songs.jpg') }}" alt="Avatar" style="width:100%" >
							
							
								<div class="container">
										<h2><b>Songs</b></h2> 
										<button class="button button5" onclick="window.location='/songs';" >Explore</button>
								</div>
						
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="card">
					<img src="{{ asset('artists.jpg') }}" alt="Avatar" style="width:100%">
					<div class="container">
						<h2><b>Artists</b></h2> 
						<button class="button button5" onclick="window.location='/artists';" >Explore</button>
					</div>
				</div>
			</td>
		</tr>
		<tr>	

			<td>
				<div class="card">
					<img src="{{ asset('genres.jpg') }}" alt="Avatar" style="width:100%">
					<div class="container">
						<h2><b>Genres</b></h2> 
						<button class="button button5" onclick="window.location='/genres';">Explore</button>
					</div>
				</div>
			</td>			
		</tr>
	</table>


{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
