body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: left;
}

p {
    font-family: verdana;
    font-size: 20px;
}

a{
	color: black;
}

/* list*/

ol{
	margin-left: 10px;
}

h2 {
  font: 400 35px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
}
 
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}

/* CARDS CSS*/

.card_body{
	background-color: white;
	margin: auto;
	height: 100%;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2px;
}

.card {
    /* Add shadows to create the "card" effect */
    width: 1000px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    text-align: left;
}
/* LISTS */

.list{
	margin: auto;
	height: 100%;
	width: 50%;
}

/* HEADER CSS */

.header-search{
	background-color:#292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-search .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-search .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-search .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-search .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-search .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-search .header-limiter nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	opacity: 0.9;
}

.header-search .header-limiter nav a:hover {
	opacity: 1;
}

.header-search .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* The search box */



/* CSS search icon */

.searchBox{
	font:16px Arial, Helvetica, sans-serif;
}

.searchBox input{

	background-image: url('searchicon.png');
	background-position: 10px 12px;
 	background-repeat: no-repeat;
 	font-size: 16px;
  	padding: 12px 20px 12px 40px;
  	border: 1px solid #ddd;
  	margin-bottom: 12px;
}



/* The search box */


/* Making the header responsive. */

@media all and (max-width: 600px) {

	.header-search {
		padding: 15px;
		position: relative;
	}

	.header-search .header-limiter h1 {
		float:none;
		font-size: 24px;
		line-height: 1;
	}

	.header-search .header-limiter nav {
		text-align: center;
		float: none;
		margin: 0;
	}

	.header-search .header-limiter nav a {
		font-size: 13px;
	}

	.header-search .header-limiter form {
		position: absolute;
		top: 20px;
		right: 20px;
	}

} 


.menu{
	text-align: center;
	padding-top: 25px;
	margin-bottom:200px;
}

.menu img{
	opacity: 0.4;
	margin: 20px auto;
}

.menu h1{
	margin-top:0;
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #3F71AE;
	padding-bottom: 16px;
}

.menu h2{
	color: #F05283;
}

.menu h2 a{
	color:inherit;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #F05283;
	padding: 10px 15px;
	border-radius: 3px;
	font: bold 14px/1 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.menu h2 a:hover{
	background-color:#F05283;
	transition:0.2s;
	color:#fff;
}

.menu ul {
	max-width: 600px;
	margin: 60px auto 0;
}

.menu ul a{
	text-decoration: none;
	color: #FFF;
	text-align: left;
	background-color: #B9C1CA;
	padding: 10px 16px;
	border-radius: 2px;
	opacity: 0.8;
	font-size: 16px;
	display: inline-block;
	margin: 4px;
	line-height: 1;
	outline: none;

	transition: 0.2s ease;
}

.menu ul li a.active{
	background-color: #66B650;
	pointer-events: none;
}

.menu ul li a:hover {
	opacity: 1;
}

.menu ul{
	list-style: none;
	padding: 0;
}

.menu ul li{
	display: inline-block;
}

/* MAIN BUTTON CSS */

.button {
    background-color: #4CAF50; /* Green */
    border: none; 	
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}
